---
- name: Include "{{ ansible_os_family }}" OS family variables.
  include_vars: "{{ ansible_os_family | lower }}-vars.yml"

- name: Include "{{ ansible_os_family }}" OS family tasks.
  include_tasks: "{{ ansible_os_family | lower }}-tasks.yml"
