---
- name: Include {{ ansible_distribution }} specific tasks
  include_tasks: "{{ ansible_distribution | lower }}-setup.yml"

- name: Clone fzf-tab plugin into OhMyZsh custom plugins
  git:
    repo: "https://github.com/Aloxaf/fzf-tab.git"
    dest: "{{ ansible_user_dir }}/.oh-my-zsh/custom/plugins/fzf-tab"
    version: "master"
    force: yes
    update: yes
  become_user: "{{ ansible_user }}"
