---
- name: APT | Update cache
  apt:
    update_cache:     yes
    cache_valid_time: 3600
  tags: 
    - apt-upgrade
    - commons

- name: APT | System upgrade
  when: system_upgrade
  apt:
    upgrade: "yes"
  tags: 
    - apt-upgrade
    - commons

- name: APT | Uninstall common packages
  when: uninstall_packages
  apt:
    name:   "{{ packages_to_uninstall_list }}"
    state:  absent
    purge:  yes
  tags: 
    - commons

- name: APT | Install common packages
  when: install_packages
  apt:
    name:  "{{ packages_to_install_list }}"
    state: latest
  tags: 
    - commons

- name: APT | Remove useless packages and dependencies not required
  apt:
    autoremove: yes
    autoclean:  yes
  tags:
    - commons

## https://github.com/sharkdp/fd?tab=readme-ov-file#on-ubuntu
- name: Create symlink for fd command
  file:
    src: "{{ lookup('pipe', 'which fdfind') }}"
    dest: "{{ ansible_env.HOME }}/.local/bin/fd"
    state: link
    force: yes

