---
# Docker packages.
# After set the docker repository, run this command to 
# list available docker-ce versions:
#
#   $ apt-cache madison docker-ce
#
docker_package:
  - "docker-ce=5:28.5.1-1~ubuntu.24.04~noble"
  - "docker-ce-cli"
  - containerd.io
docker_package_state: present

