---
- name: Include "{{ ansible_os_family }}" OS family variables.
  include_vars: "{{ ansible_os_family }}.yaml"

- name: Include "{{ ansible_lsb.id }}" specific variables.
  include_vars: "{{ ansible_lsb.id }}.yaml"
  when: ansible_lsb.id == 'Raspbian' or ansible_lsb.id == 'Ubuntu'

- name: Uninstall old versions of Docker.
  package:
    name:   "{{ item }}"
    state:  "{{ old_packages_status }}"
  loop: "{{ docker_old_packages }}"

- name: Include "{{ ansible_os_family }}" tasks.
  include_tasks: "setup-{{ ansible_os_family }}.yaml"

- name: Install Docker
  package:
    name:   "{{ item }}"
    state:  "{{ docker_package_state }}"
  notify: restart docker
  ignore_errors: "{{ ansible_check_mode }}"
  loop: "{{ docker_package }}"

- name: Ensure Docker is started and enabled at boot
  service:
    name: docker
    state: "{{ docker_service_state }}"
    enabled: "{{ docker_service_enabled }}"

- name: Add regular user to docker group
  include_tasks: docker-user.yaml
  when: docker_users | length > 0

