---
- name: Ensure dependencies are installed.
  apt:
    name:   "{{ dependencies }}"
    state:  "{{ dependencies_status }}"

- name: Ensure additional dependencies are installed (Ubuntu < 20.04 and other systems).
  apt:
    name:   gnupg2
    state:  present
  when: ansible_distribution != "Ubuntu" or ansible_distribution_version is version('20.04', '<')

- name: Ensure additional dependies are installed (on Ubuntu >= 20.04).
  apt:
    name:   gnupg
    state:  present
  when: ansible_distribution == "Ubuntu" or ansible_distribution_version is version('20.04', '>=')

- name: Add Docker apt key.
  apt_key:
    url:    "{{ docker_apt_gpg_key }}"
    id:     "{{ docker_apt_key }}"
    state:  "{{ docker_apt_key_status }}"

- name: Add Docker repository.
  apt_repository:
    repo:         "{{ docker_apt_repository }}"
    state:        "{{ docker_apt_repository_state }}"
    update_cache: true
  notify: restart docker