[Desktop Entry]
Version=1.0
Type=Application
Name=Pycharm {{ pycharm_edition.title() }} Edition
Icon={{ pycharm_install_directory }}/bin/pycharm.svg
Exec="{{ pycharm_install_directory }}/bin/pycharm.sh" %f
Comment=Pychon IDE for Professional Developers
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-pycharm-ce
StartupNotify=true
